body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: orange;
}

main {
  margin: auto;
  background-color: paleturquoise;
  width: 75%;
}

header {
  background-color: blue;
  color: white;
  width: 100vw;
}

footer {
  background-color: purple;
  color: white;
  width: 100vw;
  display: flex;
  justify-content:space-around;
}

#wrapper {
  height: 100vh;
}

.player--controls{
  margin: auto;
  width: min-content;
}

.main--image{
  width: 100%;
}

/* .main--display{
  display: flex;
  flex-direction: column;
  align-content: center;
} */;

.main--text{
  display: flex;
  justify-content: center;
}
